<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('pixsy-favicon.png')%>
    <title>Pixsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript">
      window.pixsylogoURL = "<%= image_url('pixsy-logo-png.png') %>";
    </script>

    <meta property="og:title" content="Pixsy" >
    <meta name="image" property="og:image" content="<%= image_url('splashpixsy.png') %>">
    <meta property="og:description" content="Pixsy is an online marketplace for all your photography gear and accessory needs. Pixsy is a clone of popular e-commerce website, Etsy." >
    <meta property="og:url" content="http://pixsy-fullstack.herokuapp.com/#/" >

  </head>
  <body>
    <%= yield %>
  </body>
</html>
