<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('pixsy-favicon.png')%>
    <title>Pixsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta property="og:title" content="Pixsy" >
      <meta property="og:image" content="https://pixsy-dev.s3.us-east-2.amazonaws.com/github/splash.png" >
      <meta property="og:description" content="Pixsy is an online marketplace for all your photography gear and accessory needs. Pixsy is meant to be a clone of popular e-commerce website, Etsy." >
      <meta property="og:url" content="https://pixsy-fullstack.herokuapp.com/#/" >
    
    <script type="text/javascript">
      window.pixsylogoURL = "<%= image_url('pixsy-logo-png.png') %>";
    </script>
    <script type="text/javascript">
      window.barcelonaURL = "<%= image_url('Barcelona.jpg') %>";
    </script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
